<div class="icon-loader"></div>
<div class="country-detail">
	<div class="countryground">
	  <div class="intro-row">
	    <h2>{{$ctrl.country.name}}</h2>
	    <div class="intro-facts">
	      <ul>
	        <li>
	          <span>Code</span>
	          <b>{{$ctrl.country.alpha3Code}}</b>
	        </li>
	        <li>
	          <span ng-if="$ctrl.country.capital != '' ">Capital</span>
	          <b>{{$ctrl.country.capital}}</b>
	        </li>
	        <li>
	          <span>Language</span>
	          <b>{{$ctrl.country.languages[0].name}}</b>
	        </li>
	        <li>
	          <span>Timezone</span>
	          <b>{{$ctrl.country.timezones[0]}}</b>
	        </li>
	      </ul>
	    </div>
	  </div>
	  <div class="info-cards">
	    <div class="col-md-4">
	      <div id="map-card" class="card">
	        <div class="text"><span>Location</span></div>
	        <div id="map">
	        	
	        </div>
	      </div>
	      <div class="card">
	        <div class="text"><span>Quick facts</span></div>
	        <div class="quickfacts row">
	          <div class="col-xs-6">
	            <ul>
	              <li><span>Population</span></li>
	              <li><span>Area<i class="badge">km²</i></span></li>
	              <li><span>Region</span></li>
	              <li><span>Currency</span></li>
	            </ul>
	          </div>
	          <div class="col-xs-6 text-center">
	            <ul id="ul-bg">
	              <li><span ng-if="'No data available'">{{$ctrl.country.population}}</span></li>
	              <li><span ng-if="'No data available'">{{$ctrl.country.area}}</span></li>
	              <li><span ng-if="'No data available'">{{$ctrl.country.region}}</span></li>
	              <li><span ng-if="'No data available'">{{$ctrl.country.currencies[0].code}}</span></li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-8">
	      <div class="card">
	        <div class="text"><span>Curiosities</span></div>
	        	<div class="carousel-card">
	        		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	        		  <div class="carousel-inner" role="listbox">
	        		    <div class="carousel-item active">
	        		      <div ng-hide="$ctrl.imageData[0].description==undefined" class="carousel-caption d-none d-md-block">
	        		        <span>{{$ctrl.imageData[0].description}}</span>
	        		      </div>
	        		      <img class="d-block img-fluid" src="{{$ctrl.imageData[0].urls.regular}}" alt="">
	        		    </div>
	        		    <div class="carousel-item">
	        		      <div ng-hide="$ctrl.imageData[1].description==undefined" class="carousel-caption d-none d-md-block">
	        		        <span>{{$ctrl.imageData[1].description}}</span>
	        		      </div>
	        		      <img class="d-block img-fluid" src="{{$ctrl.imageData[1].urls.regular}}" alt="">
	        		    </div>
	        		    <div class="carousel-item">
	        		      <div ng-hide="$ctrl.imageData[2].description==undefined" class="carousel-caption d-none d-md-block">
	        		        <span>{{$ctrl.imageData[2].description}}</span>
	        		      </div>
	        		      <img class="d-block img-fluid" src="{{$ctrl.imageData[2].urls.regular}}" alt="">
	        		    </div>
	        		  </div>
	        		  <a class="carousel-control-prev" data-target="#carouselExampleControls" role="button" data-slide="prev">
	        		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	        		    <span class="sr-only">Previous</span>
	        		  </a>
	        		  <a class="carousel-control-next" data-target="#carouselExampleControls" role="button" data-slide="next">
	        		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	        		    <span class="sr-only">Next</span>
	        		  </a>
	        		</div>
	        	</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="clearfix"></div>
	<div class="newsground">
	    <div class="newsgroup">
	    	<h2>Last news</h2>
	    	<div class="d-flex align-items-stretch row">
		    	<div ng-repeat="news in $ctrl.newsArray" class="col-md-4 news-card-col">
		    		<a href="{{news.webUrl}}" target="_blank">
			    		<div class="news-card">
			    			<img width="100%" ng-src="{{news.fields.thumbnail}}">
			    			<div class="text"><span><a target="_blank" href="{{news.webUrl}}">{{news.webTitle}}</a></span></div>	    			
			    		</div>
		    		</a>
		    	</div>
	    	</div>		
	    </div>
	</div>
</div>