<div class="search-bar">
	<div class="searchground">
		<div class="content">
			<a class="back-btn" href="#/countries"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
			<h2>MyCountry</h2>
			<p>Search for any country around the globe</p>
			<div class="query-wrapper">
				<div class="query-area">
					<input placeholder="Where we go?" id="input" type="" name="" ng-model="$ctrl.Alpha.Field">
					
					<div ng-show="$ctrl.Alpha.Field" class="query-suggestions">
						<ul>
							<li ng-repeat="country in $ctrl.countries | filter:$ctrl.Alpha.Field | limitTo:3"><a ng-click="$ctrl.clear()" href="#/countries/{{country.alpha3Code}}">{{country.name}}</a></li>
						</ul>
					</div>
				</div>
				<div class="filters-container">
				  <div class="dropdown">
				    <button class="filter-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				      <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
				    </button>
				    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				      <a ng-click="$ctrl.orderUpdate('name')" class="dropdown-item" href="#">Alphabetical</a>
				      <a ng-click="$ctrl.orderUpdate('-population')" class="dropdown-item" href="#">Population</a>
				      <a ng-click="$ctrl.orderUpdate('-area')" class="dropdown-item" href="#">Area</a>
				      <div class="dropdown-divider"></div>
				      <a class="dropdown-item" href="#">All</a>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>